.modal-backdrop.fade {
    opacity: 0.8 !important;
}

.modal-content {
    position: absolute !important;
}

.modalBody {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.checkmarkMe {
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 2px;
    margin-left: 10px;
}

.cascade {
    display: block;
}